/*body {
	font: 10pt "Trebuchet MS", Arial, sans-serif;
	background-color: #fff;
	text-align: center;
}

table {
	border-collapse: collapse;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	text-align: justify;
}

#header {
	border: 3px solid black;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#header #tracker {
	width: 325px;
	float: left;
	font-size: 400%;
	height: 70px;
	border-right: 3px solid black;
}

#header #tracker a{
	color: black;
	text-decoration: none;
	border-bottom: 1px solid black;
}

#header #tracker a:hover {
	border-bottom: 1px dashed black;
}

#header #sitename {
	width: 300px;
	float: left;
	text-align: left;
	font-size: 135%;
	font-variant: small-caps;
	position: relative;
	top: 50px;
	padding-left: 20px;
}

#header #search {
	width: 300px;
	float: right;
	position: relative;
	top: 40px;
	right: -10px;
}

#header #search form {
	margin-top: 10px;
	float: right;
}

#header #search form input {
	border: 2px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#header #search form #s {
	width: 140px;
	margin-right: 5px;
	padding: 3px;
	font-size: 11pt;
}

#header #search form #x {
	padding: 3px;
	font-size: 11pt;
}

#header #search form #x:hover {
	background-color: #eee;
}

#menu ul {
	float: right;
}

#menu ul li {
	float: left;
	display: inline;
}

#menu ul li a {
	padding: 2px 3px;
	margin: 2px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	text-decoration: none;
	font-size: 11pt;
	line-height: 12pt;
	color: #000;
	-webkit-border-bottom-left-radius: 5px;
}

#menu ul li a:hover {
	border-color: red;
}

#content {
	clear: both;
}

#content h1 {
	border-bottom: 1px solid black;
	padding: 2px;
	text-indent: 15px;
}

#content form {
	border: 2px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

#content form label {
	font-weight: bold;
}

#content form input, #content form textarea{
	width: 400px;
	border: 2px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 11pt;
}

#content form input[type="file"] {
	border: none;
}

#content form input[type="submit"] {
	margin-left: 40px;
}

#content form input[type="submit"]:hover {
	background-color: #eee;
}

#content form dt {
	padding-top: 8px;
}

#content form span.form_optional {
	color: #666;
	font-size: 95%;
}

#content form dd.form_help_text {
	color: #666;
	font-size: 95%;
}

#content form ul.errorlist {
	color: #a33;
	font-size: 95%;
}

#content span.error {
	color: red;
	margin-left: 20px;
}

#content table.ticketdetails {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

#content table.ticketdetails th {
	vertical-align: top;
}

#content table tr.odd {
	background-color: #ccc;
}

#content .followup h3 {
	font-variant: small-caps;
	border-bottom: 1px dashed black;
}

#footer {
	clear: both;
	margin-top: 20px;
	border-top: 1px solid black;
	padding-top: 5px;
	padding-left: 5px;
	text-align: center;
	font-size: 85%;
}

span.priority1, span.priority2, span.priority3, span.priority4, span.priority5 {
    padding: 1px 12px;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 2px;
    display: block;
    text-align: center;
    width: 20px;
}

span.priority1 {
    background-color: #c00;
    color: #fff;
}

span.priority2 {
    background-color: #e80;
    color: #fff;
}

span.priority3 {
    background-color: #fe8;
    color: #000;
}

span.priority4 {
    background-color: #59c;
    color: #fff;
}

span.priority5 {
    background-color: #8c5;
    color: #fff;
} */
