<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html+xml; charset=utf-8">
		<title>Tracker - {{ site|capfirst }}</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" media="screen" title="CSS" charset="utf-8" />
		
		<!-- Extra head content can come here -->
		{% block head %}{% endblock %}
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<div id="tracker">Issue tracker</div>
				
				<div id="sitename">{{ site }}</div>
				
				<div id="search">
					<form method="post" action="#">
						<input type="text" name="search" id="s" />
						<input type="submit" name="submit" value="search" id="x" />
					</form>
				</div>
				
				<div style="clear:both;"></div>
			</div>
			
			<div id="menu">
				{% block menu %}{% endblock %}
			</div>
			
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			
			<div id="footer">
				&copy; {% now "Y" %} - <a href="http://github.com/watcher/tracker/">Tracker</a> by Bernard 'watcher' Siebens 
			</div>
		</div>
	</body>
</html>