{% extends "tracker/public/base.html" %}

{% block content %}
	<h1>Find a ticket</h1>
	<p>You can use the form below to view one of your tickets. All fields are required.</p>
	
	{% if error %}
		<span style="color: red;">
			<p>There was an error trying to locate your ticket!<br /><ul><li>{{ error }}</li></ul></p>
		</span>
	{% endif %}
	
	<form action="{% url tracker-public-find-ticket %}" method="post">
		<dt><label for="search_id">Ticket ID</label></dt>
		<dd><input type="text" name="id" id="search_id" /></dd>
		
		<dt><label for="search_email">Submitter e-mail</label></dt>
		<dd><input type="text" name="email" id="search_email" /></dd>
		<dd class="form_help_text">This is the e-mail address that was entered when submitting the ticket.</dd>
		
		<br />
		<input class="submit" type="submit" value="search" />
	</form>
{% endblock %}