{% extends "tracker/public/base.html" %}

{% block content %}
	<h1>Ticket n&deg;{{ ticket.id }}. {{ ticket.title }} [{{ ticket.get_status|lower }}]</h1>
	
	<table width="100%" class="ticketdetails">
		<tr>
			<th width="15%">Queue</th>
			<td>{{ ticket.queue.title }}</td>
			<th width="10%">Public status</th>
			<td width="15%">
				{% if ticket.is_public %}
					<img src="{{ MEDIA_URL }}css/images/lock_open.png" /> this is a public ticket
				{% else %}
					<img src="{{ MEDIA_URL }}css/images/lock.png" /> this is a locked ticket
				{% endif %}
			</td>
		</tr>
		<tr class="odd">
			<th>Submitted on</th>
			<td colspan='3'>{{ ticket.created|date:"l j F Y - H:i" }} ({{ ticket.created|timesince }} ago)</td>
		</tr>
		<tr>
			<th>Submitter e-mail</th>
			<td colspan='3'>{{ ticket.submitter_email }}</td>
		</tr>
		<tr class="odd">
			<th>Assigned to</th>
			<td colspan='3'>{{ ticket.get_assigned_to }}</td>
		</tr>
		<tr>
			<th>Priority</th>
			<td colspan='3'>{{ ticket.get_priority_display }}</td>
		</tr>
		<tr class="odd">
			<th>Status</th>
			<td colspan='3'>
				{{ ticket.get_status_display }}
				
				{% ifequal ticket.get_status_display 'New' %}
					- this ticket still needs review by a member of staff
				{% endifequal %}
			</td>
		</tr>
		<tr>
			<th>Description</th>
			<td colspan="3">{{ ticket.description }}</td>
		</tr>
		{% if ticket.resolution %}
			<tr class="odd">
				<th>Resolution</th>
				<td>{{ ticket.resolution }}</td>
			</tr>
		{% endif %}
	</table>
	
	{% if ticket.followup_set.public_followups %}
		<h2>Follow-Ups</h2>
		
		{% for followup in ticket.followup_set.public_followups %}
			<div class="followup">
				<h3>{{ followup.title }} <span class="byline">{% if followup.user %} by {{ followup.user }} {% endif %}({{ followup.date|timesince }} ago)</span></h3>
				{{ followup.comment|force_escape }}
				
				{% if followup.ticketchange_set.all %}
					<div class="changes">
						<ul>
							{% for change in followup.ticketchange_set.all %}
								<li>changed {{ change.field }} from {{ change.old_value }} to {{ change.new_value }}</li>
							{% endfor %}
							{% for attachment in followup.attachment_set.all %}
								<li><a href="{{ attachment.file.url }}">{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}